.navbar{
    display: inline-block;
    position: relative;
    left: 106px;
    vertical-align:123px;
    margin-top: -52px;
}

h1{
    display: inline-block;
}
ul li {display: inline-block}


.block {
    
    margin-bottom: -7px;
}

img{
    margin-bottom: -44px;
    display: inline-block;
    margin-top: 89px;
    
}
.contenido-texto{
    display:inline-block;
    position: relative;
    left: 150px;
      
}
.Text_about{
    position: relative;
    bottom: 264px;
    left: 200px;
    bottom:240px;
}


.img3{
    position: relative;
    left: -394px;

    

}
.email_texto{
    margin-left:150px;
    margin-top: -62px;
    

}
